{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project }}</title>
</head>
<body>
    <img src="{% static 'images/'|add:project.image %}" alt="Project Image" class="full-image">
    <div class="text-overlay">
        <h1>{{ project.name}}</h1>
        <h2>BLOCK NAME: {{ project.block }}</h2>
        <a href="{% url 'projects_list' %}">Back to Projects</a>
    </div>   
</body>
</html>

